<section class="section section-md bg-default">
  <div class="container container-wide">
    <div class="row text-left row-narrow-60 row-30">
      <!-- Your existing 8-column element -->
      <div class="col-xl-8">
        <div class="row flex-xl-row-reverse row-20">
          <div class="col-xl-11">
            <div class="post post-default post-variant-3">

              <!-- DYNAMIC CATEGORY -->
              <div class="text-left">
                <a href="#"><span class="badge badge-warning">{{ article.category.name }}</span></a>
              </div>

              <div class="offset-top-12">
                <!-- DYNAMIC TITLE -->
                <div class="h1 text-black">{{ article.title }}</div>

                <!-- META INFO -->
                <div class="post-meta element-groups-custom offset-top-12">
                  <a class="post-meta-author" href="#">Daniel Alexandro de la Cruz</a>
                  <a class="post-meta-time" href="#">
                    <time datetime="2026-09-22">Today</time>
                  </a>
                  <a class="post-meta-comment" href="#comments">3 Comments</a>
                </div>
              </div>

              <!-- DYNAMIC ARTICLE CONTENT LOOP -->
              <div class="article-content offset-top-20">
                {% for block in article.text_flow %}

                {% if block.text_content is defined %}
                <!-- Render HTML text content safely -->
                {{ block.text_content | safe }}

                {% elif block.img is defined %}
                <!-- Render image and its description -->
                <div class="text-center offset-top-20 offset-bottom-20">
                  <img class="img-responsive" src="{{ block.img }}" alt="{{ block.description }}" />
                  <p class="font-italic offset-top-12">{{ block.description }}</p>
                </div>
                {% endif %}

                {% endfor %}
              </div>


              <hr class="divider post-divider">

              <!-- COMMENTS SECTION -->
              <div class="heading-divider" id="comments">
                <h3 class="heading-italic font-weight-regular">3 Responses</h3>
              </div>

              <div class="comment text-md-left">
                <div class="unit-comment unit flex-md-row flex-lg-row flex-xl-row flex-xxl-row">
                  <div class="unit-left"><img class="max-width-none"
                      src="{{ url_for('static', filename='images/comment-01.jpg') }}" alt="" /></div>
                  <div class="unit-body">
                    <div class="row justify-content-sm-between text-sm-left">
                      <div class="col-sm-8">
                        <ul class="list-inline-md font-accent small font-italic">
                          <li>by <a href="#">Daniel Alexandro de la Cruz</a></li>
                          <li><span class="icon-time text-primary">2h ago</span></li>
                        </ul>
                      </div>
                      <div class="col-sm-2 text-right"><a class="icon-reply" href="#reply"></a></div>
                    </div>
                    <p>I cannot agree more, fantastic read about cloud scaling!</p>
                  </div>
                </div>
              </div>

              <!-- Wrapper for the entire section -->
              <!-- LEFT SIDE (Form) -->
              <div class="col-xl-8">
                <!-- Leave A Reply Form -->
                <div class="heading-divider" id="reply">
                  <h3 class="heading-italic font-weight-regular">Leave a Reply</h3>
                </div>
                <form class="rd-mailform rd-mailform-gray-light-skin comment-form" data-form-output="form-output-global"
                  data-form-type="contact" method="post"
                  action="{{ url_for('static', filename='bat/rd-mailform.php') }}">
                  <div class="form-wrap">
                    <label class="form-label" for="contact-name">Your name *</label>
                    <input class="form-input" id="contact-name" type="text" name="name" data-constraints="@Required">
                  </div>
                  <div class="form-wrap">
                    <label class="form-label" for="contact-email">E-Mail *</label>
                    <input class="form-input" id="contact-email" type="email" name="email"
                      data-constraints="@Required @Email">
                  </div>
                  <div class="form-wrap">
                    <label class="form-label" for="message">Comment *</label>
                    <textarea class="form-input" id="message" name="message" data-constraints="@Required"></textarea>
                  </div>
                  <div class="form-button form-wrap">
                    <!-- Added flexbox utility classes for strict centering and type="submit" -->
                    <button class="btn btn-warning" type="submit"
                      style="display: inline-flex; align-items: center; justify-content: center; line-height: 1;">Submit
                      Comment</button>
                  </div>
                </form>
                <div class="rd-mailform-validate"></div>
              </div>


            </div>
          </div>
        </div>
      </div> <!-- Correctly closes the row div -->
    <!-- New element occupying the remaining 4 columns to the right -->
   
    <div class="col-xl-4">
        <!-- RIGHT SIDEBAR (Search, Socials) -->
        <div class="row row-xl-50">
        <div class="col-md-8 col-xl-12 order-sm-1 order-xl-1">
            <div class="bg-black context-dark sidebar-inset">
            <h3 class="heading-italic font-weight-regular">Search</h3>
            <form class="rd-form rd-search rd-form-inline sidebar-search" action="search-results-others.html" method="GET">
                <div class="form-wrap">
                <label class="form-label" for="rd-search-form-input">What other devs are doing?</label>
                <input class="form-input" id="rd-search-form-input" type="text" name="s" autocomplete="off">
                </div>
                <div class="form-wrap form-button">
                <button class="btn btn-warning offset-xs-left-10 offset-xs-top-0" type="submit">Search</button>
                </div>
            </form>
            </div>
        </div>
    </div>

  </div> 
</section>
