<header class="page-head">
<div class="rd-navbar-wrap">
    <nav class="rd-navbar rd-navbar-default rd-navbar-classic" data-layout="rd-navbar-fixed" data-sm-layout="rd-navbar-fixed" data-md-layout="rd-navbar-fixed" data-md-device-layout="rd-navbar-fixed" data-lg-layout="rd-navbar-fixed" data-lg-device-layout="rd-navbar-fixed" data-xl-layout="rd-navbar-static" data-xl-device-layout="rd-navbar-static" data-lg-stick-up-offset="196px" data-xl-stick-up-offset="196px" data-xxl-stick-up-offset="196px" data-lg-stick-up="true" data-xl-stick-up="true" data-xxl-stick-up="true">
    <div class="rd-navbar-inner">
        <div class="rd-navbar-top-part text-md-left small"><span class="date d-none d-md-block rd-calendar"><span class="rdc-today_day"></span>. <span class="rdc-today_month"></span> <span class="rdc-today_date"></span>, <span class="copyright-year"></span></span>
        <div class="rd-navbar-top-part-right">
            <div class="rd-navbar-search-toggle" data-rd-navbar-toggle=".rd-navbar-search-wrap"></div>
            <div class="rd-navbar-search-wrap">
            <div class="rd-navbar-search">
                <form class="rd-search rd-navbar-search-form" action="search-results.html" data-search-live="rd-search-results-live" method="GET">
                <div class="form-wrap">
                    <label class="form-label" for="rd-navbar-search-form-input">I`m looking for....</label>
                    <input class="rd-navbar-search-form-input form-input " id="rd-navbar-search-form-input" type="text" name="s" autocomplete="off">
                </div>
                <button class="rd-search-form-submit fa-search rd-navbar-search-form-submit" type="submit"></button>
                </form>
            </div>
            </div>
            <div class="divider-vertical divider-xs"></div>
            <div class="element-groups-xl-custom user-forms unit unit-spacing-xl justify-content-end"><a class="rd-navbar-login-btn" href="#" data-rd-navbar-toggle=".rd-navbar-login"><span class="icon icon-sm fa-unlock-alt text-white d-md-none"></span><span class="d-none d-md-inline-block">Login</span></a>
            <div class="rd-navbar-login">
                <form action="#">
                <div class="form-wrap">
                    <input class="form-input" id="login-name" type="text" name="name">
                    <label class="form-label" for="login-name">Your Name</label>
                </div>
                <div class="form-wrap offset-top-12">
                    <input class="form-input" id="login-password" type="password" name="pass">
                    <label class="form-label" for="login-password">Your Name</label>
                </div>
                <button class="btn btn-warning offset-top-12 text-normal" type="submit">Login</button>
                </form>
            </div><a class="rd-navbar-register-btn" href="#" data-rd-navbar-toggle=".rd-navbar-register"><span class="icon icon-sm fa-user text-white d-md-none"></span><span class="d-none d-md-inline-block">Register</span></a>
            <div class="rd-navbar-register">
                <form action="#">
                <div class="form-wrap">
                    <input class="form-input" id="register-name" type="text" name="name">
                    <label class="form-label" for="register-name">Your Name</label>
                </div>
                <div class="form-wrap offset-top-12">
                    <input class="form-input" id="register-password" type="password" name="pass">
                    <label class="form-label" for="register-password">Your Name</label>
                </div>
                <button class="btn btn-warning offset-top-12 text-normal" type="submit">Register</button>
                </form>
            </div>
            </div>
        </div>
        </div>
        <div class="rd-navbar-panel">
        <button class="rd-navbar-toggle" data-rd-navbar-toggle=".rd-navbar-nav-wrap"><span></span></button>
        <div class="rd-navbar-brand">
            <!--Brand--><a class="brand" href="index.html"><img class="brand-logo-dark" style="width:230x;height:60px;" src="{{ url_for('static', filename='images/kuhaku_brand.jpg') }}" alt="" width="117" height="30"/><img class="brand-logo-light" src="{{ url_for('static', filename='images/logo-footer-235x72.png') }}" alt="" width="117" height="36"/></a>
        </div>
        </div>
        <div class="rd-navbar-nav-wrap">
        <div class="rd-navbar-social-list">
                    <ul class="list-inline-0">
                    <li><a class="icon icon-circle fa-facebook icon-default" href="#"></a></li>
                    <li><a class="icon icon-circle fa-twitter icon-default" href="#"></a></li>
                    <li><a class="icon icon-circle fa-instagram icon-default" href="#"></a></li>
                    <li><a class="icon icon-circle fa-youtube icon-default" href="#"></a></li>
                    <li><a class="icon icon-circle fa-feed icon-default" href="#"></a></li>
                    </ul>
        </div>
        <ul class="rd-navbar-nav">
            {% for item in nav_menu %}
                <li class="rd-nav-item {% if item.is_active %}active{% endif %}">
                    <a class="rd-nav-link" href="{{ item.url }}">{{ item.label }}</a>
                    
                    {# Check if this menu item has a populated children list #}
                    {% if item.children %}
                        <ul class="rd-menu rd-navbar-dropdown">
                            {% for child in item.children %}
                                <li class="rd-dropdown-item">
                                    <a class="rd-dropdown-link" href="{{ child.url }}">{{ child.label }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
        </div>
    </div>
    </nav>
</div>
</header>