<section class="section-md bg-default">
<div class="container container-wide">
    <div class="row text-lg-left row-narrow-60">
    <div class="col-xl-8">
        <div class="tabs-custom tabs-horizontal tabs-corporate responsive-tabs-variant-2" id="tabs-1">
        <div class="heading-divider">
            <h2>My Dev-Blogs</h2>
        </div>

        <div class="row row-20 row-narrow-60">
        {% for devlog in devlogs %}
        <!-- Use loop index to add the top offset class for items after the first row -->
        <div
            class="text-md-left col-sm-10 col-md-6 col-lg-4 {% if loop.index > 3 %}offset-top-45{% endif %}"
        >
            <div class="post post-variant-3">
            <div class="post-inner">
                <!-- Assumes devlog.img just holds the filename like 'portfolio.jpg' -->
                <img
                class="post-image"
                src="{{ url_for('static', filename='images/homepage/' ~ devlog.img) }}"
                alt="{{ devlog.title }}"
                />
                <div class="post-caption">
                <ul>
                    <li>
                    <a href="#">
                        <span class="badge badge-warning">{{ devlog.category }}</span>
                    </a>
                    </li>
                </ul>
                </div>
            </div>
            <div class="h5 font-weight-bold">
                <a
                class="post-link"
                href="{{ devlog.git_repo }}"
                target="_blank"
                rel="noopener noreferrer"
                >
                {{ devlog.title }}
                </a>
            </div>
            <div class="post-meta post-meta-hidden-outer">
                <div class="post-meta-hidden">
                <div class="icon text-gray icon-lg material-icons-share">
                    <ul>
                    <li><a class="icon fa fa-github" href="{{ devlog.git_repo }}"></a></li>
                    <li><a class="icon fa fa-twitter" href="#"></a></li>
                    <li><a class="icon fa fa-linkedin" href="#"></a></li>
                    </ul>
                </div>
                </div>
                <div>
                <a class="post-meta-time" href="#">
                    <time datetime="{{ devlog.time_posted }}"
                    >{{ devlog.time_posted }}</time
                    >
                </a>
                </div>
            </div>
            </div>
        </div>

        <!-- Insert the dashed divider after every 3rd item, but not if it's the last item -->
        {% if loop.index % 3 == 0 and not loop.last %}
        <div class="col-xxl-12 d-none d-lg-block mb-0">
            <hr class="divider divider-dashed mt-0" />
            <div class="hidden"></div>
        </div>
        {% endif %} 
        
        {% endfor %}
        </div>


<div class="heading-divider offset-top-45 offset-md-top-25">
            <h2>Tech Articles / Non - Repo Related</h2>
        </div>

        {% for article in articles %}
        <div class="post post-variant-2">
            <div class="unit flex-column flex-sm-row text-sm-left unit-sm-horizontal unit-md-horizontal unit-lg-horizontal {% if loop.first %}offset-top-25 offset-md-top-0{% endif %}">
                <div class="unit-left">
                    <div class="post-inner">
                        <div class="d-inline-block">
                            <img class="post-image" src="{{ url_for('static', filename='images/homepage/octocat.jpg') }}" alt="{{ article.title }}"/>
                        </div>
                        <div class="post-caption">
                            <ul>
                                <li><a href="#"><span class="badge badge-warning">{{ article.category }}</span></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="unit-body">
                    <div class="h5 font-weight-bold">
                        <a class="post-link" href="{{ article.href }}">{{ article.title }}</a>
                    </div>
                    <p>{{ article.summary }}</p>
                    <div class="post-meta post-meta-hidden-outer">
                        <div class="post-meta-hidden">
                            <div class="icon text-gray icon-lg material-icons-share">
                                <ul>
                                    <li><a class="icon fa fa-facebook" href="#"></a></li>
                                    <li><a class="icon fa fa-twitter" href="#"></a></li>
                                    <li><a class="icon fa fa-google-plus" href="#"></a></li>
                                    <li><a class="icon fa fa-linkedin" href="#"></a></li>
                                    <li><a class="icon fa fa-pinterest" href="#"></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="element-groups-custom">
                            <a class="post-meta-author" href="#">{{ article.author }}</a>
                            <a class="post-meta-time" href="#">
                                <time datetime="{{ article.time_posted }}">{{ article.time_posted }}</time>
                            </a>
                            <a class="post-meta-comment" href="{{ article.href }}#comments">{{ article.comments_count }} Comments</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="divider divider-dashed"></div>
        {% endfor %}

        <!-- RESTORED CLOSING TAGS TO KEEP THE SIDEBAR IN PLACE -->
        </div> 
        <div class="divider divider-dashed"></div>
    </div>

    <!--THINGS RELATED TO OTHER DEVELOPERS. REFERENCES TO THEIR POSTS. -->
    <div class="col-xl-4 offset-top-36">
        <div class="row row-xl-50">
        <div class="col-md-8 col-xl-12 order-sm-1 order-xl-1">
            <div class="bg-black context-dark sidebar-inset">
            <h3 class="heading-italic font-weight-regular">Search</h3>
            <form class="rd-form rd-search rd-form-inline sidebar-search" action="search-results-others.html" method="GET">
                <div class="form-wrap">
                <label class="form-label" for="rd-search-form-input">What other devs are doing?</label>
                <input class="form-input" id="rd-search-form-input" type="text" name="s" autocomplete="off">
                </div>
                <div class="form-wrap form-button">
                <button class="btn btn-warning offset-xs-left-10 offset-xs-top-0" type="submit">Search</button>
                </div>
            </form>
            </div>
        </div>
        <div class="col-sm-12 order-sm-2 order-xl-4">
            <div class="heading-divider pt-0">
            <h3 class="heading-italic font-weight-regular">Projects from other users</h3>
            </div>
            <div class="row">
            
            {% for project in socials.featured_projects %}
            <!-- Adjusted column wrapping so it repeats nicely in the loop -->
            <div class="col-md-6 col-xl-12 {% if loop.index > 2 %}offset-md-top-30 offset-xl-top-0{% endif %}">
                <div class="post post-variant-1">
                    <div class="post-inner">
                        <img class="img-responsive post-image" src="{{ url_for('static', filename='images/homepage/octocat.jpg') }}" alt="{{ project.repo_name }}"/>
                        <div class="post-caption">
                            <ul>
                                <li><a href="{{ project.href }}"><span class="badge badge-warning">{{ project.category_name }}</span></a></li>
                            </ul>
                            <div>
                                <div class="h4 text-normal font-accent-2">
                                    <a href="{{ project.href }}">{{ project.repo_name }}</a>
                                </div>
                                <div class="post-meta post-meta-hidden-outer">
                                    <div class="post-meta-hidden">
                                        <div class="icon text-gray icon-lg material-icons-share">
                                            <ul>
                                                <li><a class="icon fa fa-facebook" href="#"></a></li>
                                                <li><a class="icon fa fa-twitter" href="#"></a></li>
                                                <li><a class="icon fa fa-github" href="#"></a></li>
                                                <li><a class="icon fa fa-linkedin" href="#"></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="element-groups-custom d-none d-lg-block">
                                        <a class="post-meta-author" href="#">{{ project.contributor }}</a>
                                        <a class="post-meta-time" href="#">
                                            <time datetime="{{ project.last_active }}">{{ project.last_active }}</time>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Only render the dashed divider if it's not the last item in the list -->
                {% if not loop.last %}
                <hr class="divider divider-dashed d-md-none d-xl-block">
                {% endif %}
            </div>
            {% endfor %}

            </div>
        </div>
        
        <div class="col-sm-12 order-sm-5 order-xl-5">
            <div class="heading-divider p-0">
            <h3 class="heading-italic font-weight-regular">Recent activity</h3>
            </div>
            <div class="row offset-top-0 justify-content-center">
            <div class="col-md-8 col-xl-12 offset-xl-0">
                
                {% for activity in socials.code_activity %}
                <span class="small font-accent font-italic">
                    <a href="#">{{ activity.dev_name }}</a> on {{ activity.repo_name }}
                </span>
                <h5>
                    <a class="link-black" href="{{ activity.href }}">{{ activity.contrib_summary }}</a>
                </h5>
                
                <!-- Only render the dashed divider if it's not the last item in the list -->
                {% if not loop.last %}
                <hr class="divider divider-dashed">
                {% endif %}
                
                {% endfor %}

            </div>
            </div>
        </div>
        </div>
    </div>
    <!-- END THINGS TO OTHER PROGRAMMERS -->
    </div>
</div>
</section>